extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top")
    a(class="navbar-brand" href="/") SGR
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    #navbarSupportedContent(class="collapse navbar-collapse")
      ul(class="navbar-nav mr-auto")
        li(class="nav-item active")
          a(class="nav-link" href="/advancedsearch")
            | Pesquisa Avançada
            span(class="sr-only") (current)
        li(class="nav-item active")
          a(class="nav-link" href="/admission") Novo Recurso
        if(user)
          li(class="nav-item active")
            a(class="nav-link" href="/upload") Upload
        li(class="nav-item dropdown active")
          a#navbarDropdown(class="nav-link dropdown-toggle" href="/users/login" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
            | Área Pessoal
          div(class="dropdown-menu" aria-labelledby="navbarDropdown")
            a(class="dropdown-item" href="/personalarea") Os meus Recursos
            a(class="dropdown-item" href="/users/changeinfo") Alterar Informaçoes
            a(class="dropdown-item" href="/users/changepassword") Alterar Password
   
    form(class="form-inline my-2 my-lg-0" action='/search' method='Post')
        input(class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search")
        button(class="btn btn-outline-light my-2 my-sm-0" type="submit") Search
    ul(class="nav navbar-nav navbar-right")
        li(class="nav-item active")
            a(class="nav-link" href="/users/logout") Logout 
                svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16")
                    path(fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z")
                    path(fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z")
  .container
    .div(class="mt-5 pt-5")
      h1= title
        
      .div
        for rec in resource
          .div(class="card bg-light mb-3" )
            .div(class="card-body")
              h4(class="card-title")= rec.title
              h5(class="card-text")= rec.description
              a(class="card-link" href=`/resource/${rec.id}`) Visitar
              if (user && user.role =='admin')
                a(class="card-link" href=`/changeresource/${rec.id}`) Modificar
                a(class="card-link" href=`/delete/${rec.id}`) Apagar
              else if (user && rec.visibility =='private' && rec.uploader.id === user.uid)
                a(class="card-link" href=`/changeresource/${rec.id}`) Modificar
                a(class="card-link" href=`/delete/${rec.id}`) Apagar
      nav(aria-label="Page navigation example")
        ul(class="pagination justify-content-center")
          if(parseInt(currentpage) > 1)
            li(class="page-item")
              a(class="page-link" href=link + "&page="+ (parseInt(currentpage)-1)) Previous
          - var j= 0
          - var max= 0  
          if parseInt(pages) > 10
            if(parseInt(currentpage)> 5)
              if(parseInt(currentpage)> parseInt(pages) - 5 )
                -var j = parseInt(pages) - 10
                -var max = parseInt(pages) + 1
              else
                -var j = parseInt(currentpage) - 5
                -var max = parseInt(currentpage) + 5
            else 
              
             
                -var j = 1
                -var max = 11
          else 
            -var j = 1
            -var max = parseInt(pages) + 1
          while j < max
            if(parseInt(currentpage) == j)
              li(class="page-item disabled")
                a(class="page-link" href=link + "&page="+ j)=j++
            else
              li(class="page-item")
                a(class="page-link" href=link + "&page="+ j )= j++
          if(parseInt(currentpage) < pages)
            li(class="page-item")
              a(class="page-link" href=link + "&page="+ (parseInt(currentpage)+1)) Next
